.cards {
    margin-bottom: 10px;
}

.cardDesign {
    width: 300px;
    box-sizing: border-box;
    padding: 5px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.App {
    margin-top: 40px;
}